@import url('https://fonts.googleapis.com/css?family=Roboto');
@import './style.scss';
@import './style_login_form.scss';
$base-font: 'Roboto';
$title-padding: 3em;
$max-width : 100%;

h1 {
 font-family: $base-font;
 padding: $title-padding;
}
body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $base-font;
    font-weight: 300;
    min-height: 100vh;
    color: #4d4d4d;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .open_access {
        padding: 10px;
        margin-top: 17px;
        cursor: pointer;
    }
    .avtorithation_box {
        display: none;
        max-width: 225px;
        justify-content: space-between;
        width: 100%;
        padding: 20px 20px 0 0;
        div {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 10px;
            min-width: 90px;
            text-align: center;
            color: #ffffff;
        }
        .login {
            background: #4eb14a;
        }
        .registr {
            background: #1597ea;
        }
    }
    .avtorithation_box.active {
        display: flex;
    }
    .logOut_box {
        display: flex;
        width: 90px;
        height: 40px;
        margin-top: 20px;
        margin-right: 30px;
        border-radius: 10px;
        background: red;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        display: none;
    }
    .logOut_box.show {
        display: flex;  
    }
}
.wrpaer_openAccess {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background:rgba(255,255,255, 0.6);
    justify-content: center;
    align-items: center;
    display: none;
    .close_allUser {
        position: absolute;
        top: 65px;
        right: 30px;
        font-size: 20px;
        cursor: pointer;
    }
    .user_list {
        max-width: 400px;
        width: 100%;
        max-height: 50%;
        overflow: auto;
        background: #ffffff;
        border: 1px solid rgba(5, 60, 143, 0.479);
        padding: 20px;
        text-align: center;
        border-radius: 10px;
        li {
            border-bottom: 1px solid rgba(5, 60, 143, 0.479);
            padding: 5px;
            cursor: pointer;
        }
        li.allowed_access {
            color: #4eb14a;
        }
    }
}

.wrpaer_openAccess.active {
    display: flex;    
}
.wrapper_accessUser {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background:rgba(62, 53, 53, 0.6);
    z-index: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    .user_list {
        max-width: 300px;
        width: 100%;
        background-color: #cbd678;
        padding: 30px 20px;
        border-radius: 20px;
        position: relative;
        .user {
            padding: 10px 0;
            font-size: 16px;
            text-align: center;
            cursor: pointer;
            transition: all ease 0.5s;
            border-radius: 5px;
            &:hover{
                background-color: #4eb14a;
            }
        }
        .close_accessPage {
            position: absolute;
            right: 13px;
            top: 5px;
            font-size: 18px;
            cursor: pointer;
        }
    }
}
.custom-select {
        background: #74b371;
        width: 222px;
        padding: 5px;
        color: #ffffff;
        font-size: 16px;
        border-radius: 5px;
        top: 50%;
        left: 30px;
        cursor: pointer;
        text-align: center;
        transform: translate(0, -21%);
        position: absolute;
        outline: none;
        display: none;
}  
.custom-select.show{
    display: block;
} 

.wrapper_registr {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background:rgba(255,255,255, 0.6);
    z-index: 1;
    justify-content: center;
    align-items: center;
    display: none;
        .registr_form {
            position: relative;
            max-width: 400px;
            height: 330px;
            width: 100%;
            border-radius: 10px;
            background-color: #1597ea;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .close_box {
                position: absolute;
                top: 20px;
                right: 20px;
                cursor: pointer;
                i {
                    font-size: 20px;
                    color: black;
                }
            }
            label {
                font-size: 20px;
            }
            input {
                width: 100%;
                height: 30px;
                margin-top: 30px;
                border-radius: 10px;
                padding: 0 10px;
            }
            input.err {
                background: red;
                position: relative;
                &::before {
                    content: 'mast be more 5 symbol';
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                }
            }
            button {
                width: 50%;
                margin-top: 30px;
                height: 40px;
                border-radius: 20px;
                cursor: pointer;
            }
        }
        .registr_form.hide {
            display: none;
        }
        .done_register_modal {
            align-items: center;
            max-width: 300px;
            height: 200px;
            background-color: #1597ea;
            display: none;
            border-radius: 10px;
            p {
                text-align: center;
                font-size: 20px;
            }
        }
        .done_register_modal.show {
            display: flex;
        }
}
.wrapper_registr.active {
    display: flex;
}
.wrapper_modal {
    position: absolute;
    top:0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 3;
    display: none; 
    .modal_more_symbol {
        width: 400px;
        min-height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #b39b9b;
    }
    .close_modal_symbol {
        position: absolute;
        right: 10px;
        width: 20px;
        height: 20px;
        top: 10px;
        cursor: pointer;
    }
}
.wrapper_modal.active {
    display: block;
}
* {
    box-sizing: border-box;
}
.conteiner-To_do {
    width: 550px;
    display: none;
    border: 1px solid grey;
    height: 50%;
    padding: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    .conteiner-input {
        width: $max-width;
        position: relative;
        display: flex;
        background: rgba(0, 0, 0, 0.003);
        box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
        overflow: hidden;
        .input-field {
            width: 100%;
            input {
                width: 95%;
                padding: 0 10px;
            }
        }
        
        label {
            display: none;
            width: 20px;
            height: 20px;
            left: 2px;
            top: 8px;
            position: absolute;
            transform: rotate(90deg);
            position: absolute;
            opacity: 0.3;
            cursor: pointer;
            &::after {
                content: '❯';
                position: absolute;
                font-size: 28px;
            }
        }
        label.show {
            display: block;
        }
        label.active {
            opacity: 1;
        }
    }
    .conteiner-task {
        width: $max-width;
        padding: 0;
        .task {
            width: $max-width;
            padding: 15px 0;
            border-bottom: 1px solid #ededed;
            transition: color 0.5s;
            font-size: 18px;
            transition: all ease 1;
            .change_task_text {
                position: absolute;
                left: 31px;
                top: 50%;
                transform: translate(0,-46%);
                padding: 2px 5px;
                width: 80%;
            }
            .delete_change {
                position: absolute;
                right: 0;
                width: 20px;
                height: 20px;
                background: #ffffff;
                cursor: pointer;
            }
            .hide_chtckBox {
                display: none;
            }
            .save_change {
                position: absolute;
                
                right: 30px;
                background: white;
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
            .show_info {
                position: absolute;
                right: 30px;
                width: 20px;
                height: 20px;
                background-color: blue;
                border-radius: 50%;
                color: #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                opacity: 0;
                
            }
            &:hover .show_info {
                opacity: 1;
            }
        }
        
        div {
            display: flex;
            align-items: center;        
            input {
                margin-right: 15px;
            }
        }
    }
    .conteinerFilter {
        .box_filter {
            li {
                padding: 2px;
                border: 1px solid transparent;
            }
            li.active {
                border: 1px solid rgb(167, 165, 165);
            }
        }
        .remove_compited {
            outline: none;
            border: none;
            background: #ffffff;
            color: #777;
        }
    }
}
.conteiner-To_do.accessTrue {
    display: block
}
.modal_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(103,111,121,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    .modal_box{
        max-width: 400px;
        width: 100%;
        min-height: 300px;
        display: flex;
        padding: 20px;
        align-items: center;
        position: relative;
        background: white;
        cursor: initial;
        .delete_modal {
            position: absolute;
            left: 20px;
            bottom: 30px;
            width: 100px;
            height: 30px;
            cursor: pointer;
        }
    }
}
.hide {
   display: none!important;
}
.goRight {
    margin-left: 33px;
}