ul li div {
    position: relative;
    max-width: 100%;
}
.delete-li {
    position: absolute;
    right: 0;
    width: 20px !important;
    height: 20px;  
    top: 0;
    opacity: 0;
    cursor: pointer;
    transition: all ease 0.5s; 
}
ul li:hover .delete-li{
    opacity: 1;
}
ul li {
    list-style: none;
}
.delete-li::after{
    content: '';
    width: 2px;
    height: 15px;
    top: 5px;
    left: 6px;
    transform: rotate(-45deg);
    background-color: red;
    position: absolute;   
}
.box_filter {
    display: flex;
    max-width: 240px;
    justify-content: space-between;
    width: 100%;
}
.box_filter li {
    cursor: pointer;
}
.delete-li::before{
    content: '';
    width: 2px;
    height: 15px;
    transform: rotate(45deg);
    background-color: red;
    position: absolute;
    top: 5px;
    left: 6px;
}
.complitet-text {
    text-decoration: line-through;
    color: grey;
}
.conteinerFilter {
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    display: none;
    color: #777;
}
.conteinerFilter.show_filter {
    display: flex;
}
.close_task {
    display: none;
}

