.wrapper_login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background:rgba(255,255,255, 0.6);
    z-index: 1;
    justify-content: center;
    align-items: center;
    display: none;
        .login_form {
            position: relative;
            max-width: 400px;
            height: 330px;
            width: 100%;
            border-radius: 10px;
            background-color: #1597ea;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .close_box {
                position: absolute;
                top: 20px;
                right: 20px;
                cursor: pointer;
                i {
                    font-size: 20px;
                    color: black;
                }
            }
            label {
                font-size: 20px;
            }
            input {
                width: 100%;
                height: 30px;
                margin-top: 30px;
                border-radius: 10px;
                padding: 0 10px;
            }
            input.err {
                background: red;
                position: relative;
                &::before {
                    content: 'mast be more 5 symbol';
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                }
            }
            button {
                width: 50%;
                margin-top: 30px;
                height: 40px;
                border-radius: 20px;
                cursor: pointer;
            }
        }
        .login_form.hide {
            display: none;
        }
}
.wrapper_login.show {
    display: flex;
}